body {
    background-image:url( ../img/background.JPG);
    background-repeat:no-repeat;
    background-position: 537px 14px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    background-size: contain;
    width:800px;
    height:780px;
    background-color: #BDC0BA;
}

img{border:0;}

p {
    font-size: 6px;
    color: white;
  }
    
 .i {
    background-image: url('../img/icon.PNG');
}

.wifi {
    width: 20px;
    height: 20px;
    position:absolute;
    top: 33px;
    left: 855px;
}
.signal {
    height: 20px;
    position:absolute;
    top: 33px;
    left: 831px;
}

.battery {
    height: 20px;
    position:absolute;
    top: 33px;
    left: 880px;
}

.mockup {
    position:absolute;
    height:890px;
    top: -20px;
    left: 290px;
}

.grey {
    background-color: #656765;
    opacity: 0.98;
}

.red {
    background-color: red;
}

.bigforest{
    background-position: -31px -90px;
    background-size: 120%;
}
.ntucool{
    background-position: -31px -284px;
    background-size: 650%;
}

.goodnotes{
    background-position: -31px -384px;
    background-size: 650%;
}

.tasks{
    background-position: -31px -486px;
    background-size: 650%;
}

.ntuceiba{
    background-position: -123px -284px;
    background-size: 650%;
}

.googlecloud{
    background-position: -123px -384px;
    background-size: 650%;
}

.meet{
    background-position: -123px -486px;
    background-size: 650%;
}

.coursera{
    background-position: -217px -284px;
    background-size: 650%;
}

.googleduo{
    background-position: -217px -384px;
    background-size: 650%;
}

.forest{
    background-position: -217px -486px;
    background-size: 650%;
}

.udemy{
    background-position: -311px -284px;
    background-size: 650%;
}

.googlekeep{
    background-position: -311px -384px;
    background-size: 650%;
}

.zuvio{
    background-position: -311px -486px;
    background-size: 650%;
}

.instagram{
    background-position: -31px -780px;
    background-size: 650%;
}

.chrome{
    background-position: -123px -780px;
    background-size: 650%;
}

.applemusic{
    background-position: -217px -780px;
    background-size: 650%;
}

.line{
    background-position: -311px -780px;
    background-size: 650%;
}

.rounded-rectangle {  
    width: 62px;
    height: 62px;
    border-radius: 15px;
    display: inline-block;
    border-style: none;
}

.big-rounded-rectangle {  
    width: 340px;
    height: 158px;
    border-radius: 22px;
    display: inline-block;
    border-style: none;
}

.down-rounded-rectangle {  
    width: 355px;
    height: 93px;
    border-radius: 25px;
    display: inline-block;
    border-style: none;
}

.circle {  
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    border-style: hidden;
}

.circle2 {  
    width: 43px;
    height: 20px;
    border-radius: 10px;
    display: inline-block;
    border-style: hidden;
}
.bigup {
    position:absolute;
    top:75px;
}

.bigupword {
    position:absolute;
    top:233px;
}

.upword {
    position:absolute;
    top:18px;
}

.upwifi {
    position:absolute;
    top:10px;
}


.up1 {
    position:absolute;
    top:270px;
}

.up1word {
    position:absolute;
    top:328px;
}

.up2 {
    position:absolute;
    top:368px;
}

.up2word {
    position:absolute;
    top:428px;
}
.up3 {
    position:absolute;
    top:470px;
}

.up3word {
    position:absolute;
    top:528px;
}

.up4word {
    position:absolute;
    top:692px;
}
.up5 {
    position:absolute;
    top:700px;
}

.up6 {
    position:absolute;
    top:715px;
}

.circleup {
    position:absolute;
    top:708px;
}


.bigleft {
    left: 556px;
}

.bigleftword {
    left: 705px;
}

.leftword {
    left: 575px;
    font-size: 15px;
    font-weight: bold;
}

.leftwifi {
    left: 900px;
}

.left1 {
    left: 556px;
}

.left1word {
    left: 562px;
}

.left1word1 {
    left: 557px;
}

.left1word2 {
    left: 570px;
}

.left1word3 {
    left: 612px;
    z-index:1;
    font-size: 15px;
}

.left2 {
    left: 651px;
}

.left2word {
    left: 650px;
}

.left2word1 {
    left: 657px;
}

.left2word2 {
    left: 668px;
}

.left3 {
    left: 741px;
}

.left3word {
    left: 747px;
}

.left3word1 {
    left: 739px;
}

.left3word2 {
    left: 755px;
}

.left4 {
    left: 831px;
}

.left4word {
    left: 842px;
}

.left4word1 {
    left: 825px;
}

.left4word2 {
    left: 832px;
}

.left4word3 {
    left: 858px;
    z-index:1;
    font-size: 15px;
}

.left5 {
    left: 546px;
}

.circleleft {
    left: 606px;
}

.circleleft2 {
    left: 854px;
}

div.circle_in_black{
    width:80px;height:80px;
    border-radius:999em;
    background-color:black;
    }