.circle {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    display: inline-block;
    border-style: solid;
    border-width: 3px;
    border-color: #808080;
}

.rounded-rectangle {
    
    width: 62px;
    height: 62px;
    border-radius: 15px;
    display: inline-block;
    border-style: solid;
    border-width: 3px;
    border-color: #808080;
}

.i {
    background-image: url('../img/icon-list.png');
}



.i-person{
    background-position: -25px -28px;
    background-size: 650%;
}

.i-phone{
    background-position: -122px -28px;
    background-size: 650%;
}

.i-message{
    background-position: -218px -28px;
    background-size: 650%;
}

.i-clock{
    background-position: -314px -28px;
    background-size: 650%;
}

.i-music{
    background-position: -25px -123px;
    background-size: 650%;
}

.i-photo{
    background-position: -122px -123px;
    background-size: 650%;
}

.i-photocamera{
    background-position: -218px -123px;
    background-size: 650%;
}

.i-videocamera{
    background-position: -314px -123px;
    background-size: 650%;
}

.i-webcam{
    background-position: -25px -218px;
    background-size: 650%;
}

.i-microphone{
    background-position: -122px -218px;
    background-size: 650%;
}

.i-trashcan{
    background-position: -218px -218px;
    background-size: 650%;
}

.i-find{
    background-position: -314px -218px;
    background-size: 650%;
}

.i-location{
    background-position: -25px -313px;
    background-size: 650%;
}

.i-setting{
    background-position: -122px -313px;
    background-size: 650%;
}

.i-speaker{
    background-position: -218px -313px;
    background-size: 650%;
}

.i-note{
    background-position: -314px -313px;
    background-size: 650%;
}